<div class="container">
  <%= render "layouts/navbar" %>

<div class="container">

  <div class="container" id="work">
    <div class="row justify-content-center">
      <div class="col">
        <img class="work-photo"><%= image_tag("goran-ivos-246271-unsplash.jpg", :alt => "computer", size: "300x300") %></img>

        <div id="coding-copy">
          <h4>Coding</h4>
          <p>I recently graduated from Epicodus after training for 20 weeks to become a full stack developer. I became skilled in CSS/HTML, JavaScript/Angular, and Ruby/Rails. It was a transformative 20 weeks, and more than anything, I learned how to think like a developer, which meant learning how to solve any problem big or small. Best of all, I learned how to create things for the web... like this website, which I built on Rails.</p>
        </div>
      </div>

      <div class="col">
        <img class="work-photo"><%= image_tag("eaters-collective-129481-unsplash.jpg", :alt => "person taking photo of food", size: "300x300") %></img>
        <div id="social-media-copy">
          <h4>Social Media</h4>
          <p> I worked in social media for 5 years before pivoting to programming. At fast-paced, client-centric agencies, my roles ranged from social media manager to strategist to community manager.</p>
          </div>
      </div>

      <div class="col">
        <img class="work-photo"><%= image_tag("the-climate-reality-project-349094-unsplash.jpg", :alt => "person taking photo of food", size: "300x300") %></img>

        <div id="teaching-copy">
          <h4>Teaching</h4>
          <p>I've taught various seminars and lessons about social media to different types of people, including small business and nonprofit owners via Portland Underground Grad School and international exchange students via World Affairs Council of Oregon.</p>
        </div>
      </div>
    </div>
</div>

</div>
