<div class="container">
  <%= render "layouts/navbar" %>

<div class="container">

  <div class="container" id="work">
    <div class="row justify-content-center">
      <div class="col">
        <div class="coding-photo">
          <img><%= image_tag("development.png", :alt => "computer", size: "300x300") %></img>
        </div>

        <div id="coding-copy">
          <p>stack:</p>
          <ul>
            <li>Ruby</li>
            <li>PHP</li>
            <li>JavaScript</li>
            <li>Bootstrap</li>
          </ul>

          <p>frameworks:</p>
          <ul>
            <li>Rails</li>
            <li>Wordpress</li>
            <li>Craft CMS</li>
            <li>Magento</li>
            <li>Squarespace</li>
          </ul>

          <p>projects:</p>
          <ul>
            <li>This website is built with Ruby on Rails.</li>
            <li>EXAMPLE built on Wordpress.</li>
            <li>EXAMPLE built on Squarespace.</li>
            <li>Craft CMS</li>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="work-photo">
          <img><%= image_tag("social media.png", :alt => "person taking photo of food", size: "300x300") %></img>
        </div>
        <div id="social-media-copy">
          <p>skills:</p>
          <ul>
            <li>Strategy</li>
            <li>Content Writing</li>
            <li>Facebook Advertising</li>
            <li>Project Management</li>

          </ul>
          <p>clients:</p>
          <ul>
            <li>Travel Oregon</li>
            <li>Brand USA</li>
            <li>Visit Social Africa</li>
            <li>Widmer Brothers</li>
            <li>Redhook Brewery</li>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="consulting-photo">
          <img><%= image_tag("consulting.png", :alt => "people working together", size: "300x300") %></img>
        </div>

        <div id="teaching-copy">
          <p>topics:</p>
          <ul>
            <li>How to Use Facebook to Grow Your Nonprofit</li>
            <li>Social Media for Small Business</li>
            <li>Developing Youth Leadership with professionals from across South Asia</li>
            <li>Social Media in Community Building with Iraqi Young Leaders Exchange Program</li>
          </ul>
          <p>clients:</p>
          <ul>
            <li>Portland Underground Grad School</li>
            <li>Hillsboro Arts & Culture Council</li>
            <li>World Affairs Council of Oregon</li>
          </ul>
        </div>
      </div>
    </div>
</div>

</div>
