<div class="container">
  <%= render "layouts/navbar" %>

  <div class ="intro">
    <h3>Let's be friends.</h3>

    <p>Send me a note at summers.maggie at gmail.com or find me on <a href="https://www.twitter.com/the_familiar_"  target="_blank">Twitter </a> and <a href="https://www.instagram.com/the_familiar_"  target="_blank">Instagram</a>.</p>
  </div>
</div>
