<div class="container">
  <%= render "layouts/navbar" %>

<div class="container" id="contact">
  <div class="text-center">
      <p id="intro">Let's talk!</h3>

        <p>Find me on <a href="https://www.twitter.com/the_familiar_"  target="_blank">Twitter, </a><a href="https://www.instagram.com/the_familiar_"  target="_blank">Instagram</a> and <a href="https://www.linkedin.com/in/summersmaggie/" target="_blank">LinkedIn.</a></p>

      <p>Email me at summers.maggie@gmail.com.</p>
  </div>
</div>

</div>
