<div class="container">
  <%= render "layouts/navbar" %>

  <div class="container" id="about-page">
    <div class="row justify-content-center">
      <div class="col-xs-4 col-xs-offset-4 text-center">
        <img><%= image_tag("maggie.jpeg", :alt => "maggie-summers-pic", height: "500px", width: "500px", class: "img-fluid") %></img>

        <div id="about">
          <h4>Hi! I'm Maggie.</h4>
          <p>After working in social media for years, I decided to pivot my career in a more technical direction. I currently work as a Technical Support Engineer at New Relic. It's proven to be a great fit! I get to spend the day troubleshooting technical issues, while helping our customers solve complicated, important problems.</p>
          <!-- <p>I've worked at fast-paced creative agencies for years, so I'm accustomed to juggling multiple projects and clients at once. I'm detail oriented and I love to learn.</p> -->

          <button type="button" id="current_list" class="btn btn-info">What else?</button>
            <div id="current_interests">
              <p id="about-title">cities lived:</p>
                <li>Charlotte, NC</li>
                <li>Glen Ellyn, IL</li>
                <li>Athens, GA</li>
                <li>Santiago, Chile</li>
                <li>Nashville, TN</li>
                <li>Portland, OR</li>
                <p></p>
              <!-- <p id="about-title">favorites:</p>
                <li></li>
                <li>Copywriter</li>
                <li>Social Media Strategist</li>
                <li>Social Media Manager</li>
                <li>Web Developer</li>
                <p></p> -->
              <p id="about-title">what I like to do:</p>
                <li>travel</li>
                <li>read</li>
                <li>hot yoga</li>
                <li>drink IPAs</li>
                <li>snuggle with <a href="https://www.instagram.com/p/BgrBiCwHgO5/">Nugget</a></li>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
