<div class="container">
  <%= render "layouts/navbar" %>

  <div class="text-center">
    <%= image_tag("maggie.jpeg", :alt => "maggie-summers-pic", height: "500px", width: "500px", class: "img-fluid") %>

    <h5 id="about">Hi! I'm a web developer and former social media manager living in Portland, Oregon.</h5>

    <div class="interests">
      <button class="current_list">Tell me more!</button>
      <div id="current_interests">
        <br>
        <h6>Reading<a href="https://open.spotify.com/user/123276407/playlist/0bhBeSnGo0uJcBRt1ZaI0l?si=PKAuiCxiRkWUecmE3a5fWg"></a></h6>
        <h6><a href="https://open.spotify.com/user/123276407/playlist/0bhBeSnGo0uJcBRt1ZaI0l?si=PKAuiCxiRkWUecmE3a5fWg"target="_blank">Listening</a></h6>
        <h6><a href="https://open.spotify.com/user/123276407/playlist/0bhBeSnGo0uJcBRt1ZaI0l?si=PKAuiCxiRkWUecmE3a5fWg"target="_blank">Watching</a></h6>
      </div>
    </div>
  </div>
</div>
<!--
<%= render "layouts/footer" %> -->
