.box {
   display: flex;
   justify-content: center;
   padding-top: 70px;
   padding-bottom: 70px;
   max-width: 100%;
}

#navbar {
  font-family: 'Roboto', sans-serif;
  text-decoration: none !important;
}

#navbar a {
  color: #121212 !important;
}

#intro {
  font-size: 65px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 1.2em;
  font-weight: 600;
  font-family: 'Old Standard TT', serif;
  font-style: normal;
  letter-spacing: -.01em;
  color: #7A5CE0;
  padding-bottom: 30px;
}

#about {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Roboto', sans-serif;
}

// .interests {
//   padding-top: 50px;
//   padding-bottom: 50px;
//   font-family: 'Roboto', sans-serif;
// }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: gray;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

#blog-posts {
  width: 900px;
  font-family: 'Roboto', sans-serif;
}

#blog-post-preview {
  padding-bottom: 20px;
}

.style-image {
  height: 550px;
  width: 900px;
  display: flex;
}

// #work-sample-block {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-left: auto;
//   margin-right: auto;
//   width: 50%;
//   width: 900px;
//   padding-top: 30px;
//   padding-bottom: 30px;
//   font-family: 'Open Sans', sans-serif;
//   margin-top: auto;
// }

#work {
  padding-top: 50px;
  padding-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
}

// #work-sample-block img {
//   padding-bottom: 20px;
//   padding-top: 20px;
// }

.coding-photo {
  padding-bottom: 20px;
}

.work-photo {
  padding-bottom: 20px;
}

.consulting-photo {
  padding-bottom: 20px;
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}

@media only screen and (max-width:748px) {
  .navbar-brand {
    max-width: 100%;
    height: auto !important;
  }

  .work-photo {
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media only screen and (min-width:800px) {
  #intro {
    padding-top: 130px;
  }
}

@import "bootstrap";
