@import "bootstrap-sprockets";
@import "bootstrap";

.logo {
  padding-top: 80px;
  padding-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 430px;
}

.navbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 430px;
  font-family: 'Gothic A1', sans-serif;
}

.nav navbar-nav {
  color: #121212 !important;
  text-decoration: none !important;
}

.maggie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 500px;
  padding-top: 20px;
}

.intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 900px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
}

.footer {
  // position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: gray;
  text-align: center;
  font-size: 10px;
  font-family: 'Gothic A1', sans-serif;
}

#blog-posts {
  width: 900px;
  font-family: 'Gothic A1', sans-serif;
}

#blog-post-title {
  text-align: center;
}

#work-sample-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 900px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
}

.work {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 900px;
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#work-sample-block img {
  padding-bottom: 20px;
  padding-top: 20px;
}
