<div class="container" id="blog-post-preview">
  <%= image_tag post.featured_image, :class => "style-image" %>

  <h2><%= link_to post.title, buttercms_post_path(post.slug), :title => post.title, :class => "style-title" %></h2>

  <!-- Post summary -->
  <p><%= post.summary %></p>
</div>
