<footer class="footer">
  <% if current_user && current_user.admin %>
    <p><%= link_to "ADMIN DASHBOARD", '/admin' %></p>
  <% end %>
  <p>© Maggie Summers. Blog powered by <a href="https://buttercms.com/">ButterCMS</a>.</p>
</footer>
