<div class="container">
  <div class="logo">
    <%= image_tag("BLK-Wordmark copy.png", :alt => "maggie-summers", size: "430x51") %>
  </div>

  <%= render "navbar" %>

  <div class="maggie">
    <%= image_tag("maggie.jpeg", :alt => "maggie-summers-pic", size: "500x500") %>
  </div>

  <div class="intro">
    <h4>Hi! I'm an aspiring web developer, and former social media professional, living in Portland, Oregon.</h4>
  </div>
</div>
