<div class="container">
  <%= render "navbar" %>

  <div class="maggie">
    <%= image_tag("maggie.jpeg", :alt => "maggie-summers-pic", class: "img-fluid") %>
  </div>

  <div class="intro">
    <h4>Hi! I'm a software developer and former social media manager living in Portland, Oregon. </h4>
  </div>

  <div class="interests">
    <a class="current_list">What are you up to?</a>
      <div id="current_interests">
        <br>
        <h5>Current read: <a href="https://www.goodreads.com/book/show/35581653-feel-free" target="_blank"><em>Feel Free</em> by Zadie Smith.</a></h5>
        <h5>Current listen: <a href="https://open.spotify.com/user/benmkatz/playlist/3dSk3Mf2SeUwfnx2NgRO4P?si=QDPujBAqSEixh1h-bILliA"target="_blank"> The Way I Work It.</a></h5>
        <h5>Current show: The Americans. (Highly recommend!)</h5>
        <h5>Current project: Renovating our bathroom. <i class="em em-dizzy_face"></i></h5>
      </div>
  </div>
</div>

<%= render "layouts/footer" %>
