<div class="container">
  <%= render "navbar" %>

  <div class="container">
    <div class="text-center">
      <p id="intro">I'm a web developer and former social media manager living and working in Portland, Oregon.</p>
    </div>
  </div>
</div>
