<div class="container">
  <%= render "navbar" %>

  <div class="container">
    <div class="text-center">
      <p id="intro">I'm a technical and marketing professional living and working in Portland, Oregon.</p>
    </div>
  </div>

</div>
