<div class="container">
  <%= render "navbar" %>

  <div class="maggie">
    <%= image_tag("maggie.jpeg", :alt => "maggie-summers-pic", size: "500x500") %>
  </div>

  <div class="intro">
    <h4>Hi! I'm an aspiring web developer, and former social media professional, living in Portland, Oregon.</h4>
  </div>

  <div class="interests">
    <a id="current_list">Currently</a>
      <div id="current_interests">
        <div class="row">
          <div class="col-md-4">
            <h4>Currently Reading</h4>
          </div>
          <div class="col-md-4">
            <h4>Currently Listening</h4>
          </div>
        </div>
      </div>
  </div>
</div>

<%= render "layouts/footer" %>
